<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeCloud -Verify_otp</title>
</head>
<body>
    <h3>Enter OTP</h3>
    <form method="POST">
        <input type="text" name="otp" required>
        <button type="submit">Verify</button>
    </form>
    
<p>
    Didn't recieve otp?
    <a href = "/resend_otp">Resend_Otp</a>
</p>

    {% if error %}
        <p style="color: brown;">{{ error }}</p>
    {% endif %}
</body>
</html>